* {
    background: white;
    margin: 0;
    font-family: "Amarante", "Amaranth", "Book Antiqua", Arial;
}

/*header!!!*/

#header {
    background: black;
    font-size: 35px;
    color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#left-header {
    background: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#left-header a {
    background: inherit;
    color: inherit;
    text-decoration: none;
    margin: 10px;
}

#right-header {
    background: inherit;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.new-button {
    background: inherit;
    border: 1px solid white;
    border-radius: 15px;
    margin: 5px;
    display: flex;
    justify-content: center;
}

.new-button a {
    background: inherit;
    color: inherit;
    font-size: 30px;
    font-family: Abel, Verdana;
    text-decoration: none;
    font-style: italic;
    margin: 7px;
}
/*footer!!!*/

#footer {
    background: black;
    font-size: 40px;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-elements {
    margin: 5px;
    background: black;
    text-shadow: 1px 1px 1px gray;
    font-size: 17px;
    font-family: Abel, Arial;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 5px;
}

.center-info {
    flex-grow: 1;
}

.footer-elements h1 {
    background: black;
    font-style: normal;
    font-size: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/*main!!!*/

#main {
    display: flex;
    flex-direction: column;
}

/*filter!!!*/

#filter {
    background: #eee;
    border: 3px solid black;
    border-radius: 15px;
    margin: 15px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.filter-header {
    align-self: center;
    background: #eee;
    font-size: 40px;
}

.filter-content {
    background: #eee;
    display: flex;
    margin: 5px;
}

.input-panel {
    align-self: center;
    background: #eee;
    display: flex;
    flex-direction: column;
    margin: 2px;
    width: 200px;
}

.input-panel p {
    background: #eee;
    font-family: "Abel", "Book Antiqua", Verdana;
    font-style: italic;
    font-size: 25px;
    align-self: flex-start;
}

.input-panel input, select {
    margin: 3px;
}

/*photo-posts!!!*/

.photo-posts {
    background: #eee;
    width: 1000px;
    border: 3px solid black;
    border-radius: 15px;
    align-self: center;
}

.scroll {
    background: #eee;
    width: 900px;
    height: 98%;
    overflow: auto;
    margin: 5px auto;
}

.hey {
    background: #eee;
    width: 860px;
    height: 100%;
    margin: 5px auto;
}

.post {
    background: white;
    width: 400px;
    height: 240px;
    display: inline-table;
    margin: 5px 10px;
    border: 2px solid gray;
    border-radius: 7px;
    position: relative;
}

.post img {
    height: 190px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px 5px;
    z-index: 3;
}

.like {
    background: gray;
    position: relative;
    top: 195px;
    left: 5px;
}

.fa-heart-o {
    background: white;
    color: red;
    position: absolute;
    top: 199px;
    left: 5px;
}

.fa-heart-o:hover {
    color: darkred;
    text-shadow: 1px 1px 1px red;
}

.user {
    position: absolute;
    left: 295px;
    top: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    height: 70px;
    text-decoration: underline;
    display: block;
}

.user p {
    width: 65px;
    background: white;
    margin: 2px auto;
    position: relative;
    top: 43px;
    left: 10px;
}

.user i {
    font-size: 36px;
}

.hashtags {
    position: absolute;
    left: 295px;
    top: 80px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    height: 115px;
    text-decoration: underline;
    display: block;
    overflow: scroll;
    overflow-x: hidden;
}

.hashtags:first-child {
    margin-top: 3px;
}

.hashtag {
    font-size: 16px;
    font-family: "Abel", Arial;
    font-style: italic;
    max-width: 70px;
    margin-left: 5px;
    word-wrap: break-word;
}

.description {
    position: relative;
    left: 40px;
    width: 180px;
    height: 30px;
    margin-top: -5px;
    word-wrap: break-word;
    overflow: scroll;
    overflow-x: hidden;
}

.description p {
    font-size: 13px;
    font-family: "Abel", Arial;
    font-style: italic;
    max-width: 170px;
}

.fa-edit {
    background: white;
    color: black;
    position: absolute;
    top: 201px;
    left: 225px;
}

.fa-close {
    background: white;
    color: black;
    position: absolute;
    top: 199px;
    left: 260px;
}

.date-time {
    position: absolute;
    top: 199px;
    left: 315px;
    text-align: right;
    font-size: 14px;
    font-style: italic;
}

.open-more {
    margin: 5px auto;
    text-align: center;
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
    height: 24px;
}

.open-more a {
    text-decoration: none;
    color: black;
}

@media (max-width: 660px) {
    #right-header {
        flex-direction: column;
    }

    #left-header {
        flex-direction: row;
    }

    #header {
        flex-direction: column;
    }

    #footer {
        flex-direction: column;
    }

    .footer-elements {
        border-bottom: 1px solid white;
    }

    #filter {
        width: 90%;
    }

    .filter-content {
        flex-direction: column;
    }
}