* {
    background: white;
    margin: 0;
    font-family: "Amarante", "Amaranth", "Book Antiqua", Arial;
}

input {
    font-family: Verdana;
}

/*header!!!*/

header {
    background: black;
    font-size: 35px;
    color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#left-header {
    background: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#left-header a {
    background: inherit;
    color: inherit;
    margin: 10px;
}

#right-header {
    background: inherit;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.new-button {
    background: inherit;
    border: 2px solid white;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
}

.new-button a {
    background: inherit;
    color: inherit;
    font-size: 30px;
    font-family: Abel, Verdana;
    text-decoration: none;
    font-style: italic;
    margin: 7px;
}

/*footer!!!*/

.new-button:hover {
    text-shadow: 2px 1px gray;
}

footer {
    background: black;
    font-size: 40px;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-elements {
    margin: 5px;
    background: black;
    text-shadow: 1px 1px 1px gray;
    font-size: 17px;
    font-family: Abel, Arial;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 5px;
}

address {
    flex-grow: 1;
}

.footer-elements h1 {
    background: black;
    font-style: normal;
    font-size: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/*main!!!*/

main {
    display: flex;
    flex-direction: column;
    min-height: 585px;
}

/*filter!!!*/

#filter {
    background: #eee;
    border: 3px solid black;
    border-radius: 15px;
    margin: 15px;
    width: 650px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.filter-header {
    align-self: center;
    background: #eee;
    font-size: 40px;
}

.filter-content {
    background: #eee;
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

.input-panel {
    align-self: center;
    background: #eee;
    display: flex;
    flex-direction: column;
    margin: 2px;
    width: 200px;
}

.input-panel p {
    background: #eee;
    font-family: "Abel", "Book Antiqua", Verdana;
    font-style: italic;
    font-size: 25px;
    align-self: flex-start;
}

.input-panel input, select {
    margin: 3px;
}

/*photo-posts!!!*/

article {
    background: #eee;
    width: 1000px;
    border: 3px solid black;
    border-radius: 15px;
    align-self: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

#posts-array {
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
}

figure {
    display: flex;
    flex-wrap: wrap;
    background: white;
    width: 400px;
    margin: 5px 10px;
    border: 2px solid gray;
    border-radius: 7px;
}

figure img {
    height: 250px;
    width: 250px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px 5px;
    z-index: 1;
}

.post-element {
    margin: 5px;
    flex-grow: 1;
}

.user-hashtags {

    display: flex;
    flex-direction: column;
}

.user-area {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 5px;
}

.user-area * {
    align-self: flex-end;
    margin: 1px;
}

.hashtags-area {
    border: 1px solid black;
    border-radius: 5px;
    overflow: scroll;
    overflow-x: hidden;
    height: 170px;
}

.hashtag {
    font-size: 16px;
    font-family: "Abel", Arial;
    font-style: italic;
    max-width: 70px;
    word-wrap: break-word;
    margin-right: 5px;
}

.user-panel {
    display: flex;
    justify-content: space-between;
    width: 250px;
    border: 1px solid black;
    border-radius: 5px;
}

.user-panel * {
    margin: 3px;
    flex-grow: 1;
}

.description-area {
    flex-grow: 100;
    overflow: scroll;
    overflow-x: hidden;
    max-height: 40px;
}

.description {
    max-width: 110px;
    font-size: 15px;
    font-family: Abel, Verdana;
}

.time-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    border: 1px solid black;
    border-radius: 5px;
}

.open-more {
    margin: 5px auto;
    text-align: center;
    width: 120px;
    border: 2px solid black;
    border-radius: 5px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.open-more:hover {
    text-shadow: 1px 1px gray;
}

.open-more a {
    text-decoration: none;
    color: black;
    margin: 5px;
}

/*add photo*/

#add-photo-block {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#add-photo {
    width: 300px;
    z-index: 2;
    align-self: center;
    display: flex;
    flex-direction: column;
    background: #eee;
    margin: auto;
    padding: 20px;
    position: relative;
    border: 5px solid black;
    border-radius: 15px;
}

#add-photo img {
    width: 300px;
    height: 300px;
}

#add-photo p {
    font-size: 30px;
    text-align: center;
    background: #eee;
    margin-bottom: 15px;
}

textarea {
    width: 100%;
    height: 50px;
    padding: 7px 7px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    font-family: Verdana;
    font-style: italic;
    resize: none;
    margin-top: 5px;
}

#choose-file {
    margin-top: 7px;
}

#send-button {
    margin-top: 10px;
    align-self: center;
}

#close-add {
    background: #eee;
    position: absolute;
    top: 5px;
    right: 5px;
}

/*log in!!!*/

#log-in-block {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#log-in {
    width: 300px;
    z-index: 2;
    align-self: center;
    display: flex;
    flex-direction: column;
    background: #eee;
    margin: auto;
    padding: 20px;
    border: 5px solid black;
    border-radius: 15px;
    position: relative;
}

.log-in-input {
    background: #eee;
    display: flex;
    margin: 3px;
    justify-content: space-between;
}

.log-in-input p {
    background: #eee;
    font-family: Abel, Verdana, Arial;
    font-style: italic;
}

#log-in>p {
    background: #eee;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.log-in-input input {
    width: 200px;
}

#log-in-button {
    align-self: center;
    margin-top: 8px;
}

#close-log-in {
    background: #eee;
    position: absolute;
    top: 5px;
    right: 5px;
}

/*for mobile phones!!!*/

@media (max-width: 660px) {
    #right-header {
        flex-direction: column;
    }

    #left-header {
        flex-direction: row;
    }

    header {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
    }

    .footer-elements {
        border-bottom: 1px solid white;
    }

    #filter {
        width: 90%;
    }

    /*.filter-content {
        flex-direction: column;
    }*/
}

@media (max-width: 1000px) {
    article {
        width: 90%;
    }
}

@media (max-width: 460px) {
    .hashtags-area {
        margin-top: -10px;
        height: 40px;
        display: flex;
        flex-wrap: wrap;
    }

    .hashtag {
        word-wrap: normal;
        flex-grow: 1;
        max-width: none;
    }

    .user-area *{
        align-self: center;
    }

    .time-area {
        justify-content: center;
        flex-direction: row;
        text-align: center;
    }
}